# Loop Practice
## 1. Print Multiplication table

In [1]:
# Using for loop
for i in range(2,6):
    for k in range(1,6):
        print("{} * {} = {}".format(i,k,i*k))

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25

In [2]:
# Using while
i = 2
while i < 6:
    k = 1
    while k < 6:
        print("{} * {} = {}".format(i,k,i*k))
        k += 1
    i += 1

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25

## 2. Print multiple of 2 or multiple of 11 from 1 to 100

In [3]:
for i in range(1, 101):
    if i % 2 == 0 or i % 11 == 0:
        print(i)

2
4
6
8
10
11
12
14
16
18
20
22
24
26
28
30
32
33
34
36
38
40
42
44
46
48
50
52
54
55
56
58
60
62
64
66
68
70
72
74
76
77
78
80
82
84
86
88
90
92
94
96
98
99
100

## 3. Print the maximum and minimum value from the list

In [4]:
# Using sort
a = [23, 1, 10, -4, 12, 11, 100]
a.sort()
a[0], a[len(a)-1]

(-4, 100)

In [5]:
# Without using sort
a = [23, 1, 10, -4, 12, 11, 100]
min, max = a[0], a[0]
for i in a:
    if min > i:
        min = i
    if max < i:
        max = i
min, max

(-4, 100)

## 4. Print the average from the list

In [6]:
# while
a = [23, 1, 10, -4, 12, 11, 100]
sum, i = 0, 0
while i < len(a):
    sum += a[i]
    i += 1
sum/len(a)

21.857142857142858

In [7]:
# for
a = [23, 1, 10, -4, 12, 11, 100]
sum = 0
for x in a:
    sum += x
sum/len(a)

21.857142857142858